* {
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    padding: 2vh 5vw;
    background-color: #333;
    color: white;
    text-align: left;
    display: flex;
    gap: 2vw;
}
.button {
    padding: 0 10px;
    flex-direction: row;
    justify-content: flex-start;
}


.container {
    width: 90%;
    max-width: 1200px;
    min-width: 320px;
    margin: 2rem auto;
}


.main {
    width: 70%;
    padding: 40px 0;
    margin: 0 45px;
}
.main img {
    width: 100%;
    height: auto;
    margin-top: 24px;
}


.sidebar {
    width: 70%;
    padding: 40px 0;
    margin: 0 45px;
}

.footer {
    width: 100%;
    padding: 1.5em;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 80px;
}
